In [1]:
import pandas as pd

year = 2015

In [2]:
summary_geog = pd.read_csv("./REMM_Tables/summary_geog.csv") 
summary_geog2 = pd.read_csv("./REMM_Tables/summary_geog_og.csv")
summary_geog.head(5)

,zone_id,zone_id.1,households,residential_units,population,res_price1,res_price2,avg_hh_income,hh_inc1,hh_inc2,...,jobs7,jobs8,jobs9,jobs10,job_spaces,non_residential_sqft,nonres_price3,nonres_price4,nonres_price5,COUNTY
0,2859,2859,23.0,24.0,71.0,27.130846,54.794223,60068.00000,4.0,6.0,...,0.0,0.0,0.0,0.0,2.0,400.0,0.000000,0.000000,0.000000,49
1,141,141,133.0,151.0,369.0,65.659543,74.407929,59775.57895,38.0,24.0,...,18.0,0.0,0.0,0.0,988.0,904216.0,5.194477,112.795817,121.424179,11
2,2865,2865,29.0,30.0,102.0,32.020883,60.141137,57396.00000,2.0,10.0,...,0.0,0.0,0.0,0.0,46.0,44850.0,6.040000,0.000000,0.000000,49
3,1914,1914,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,49
4,2860,2860,1.0,1.0,2.0,38.966667,0.000000,51914.00000,0.0,1.0,...,0.0,0.0,0.0,0.0,2.0,1950.0,5.904948,0.000000,0.000000,49

In [3]:
pop_control = pd.read_csv("./Results/population_controls.csv")
pop_control.head(5)

   year  number_of_population  CO_FIPS
0  2010                304323       11
1  2010               1013395       35
2  2010                222446       57
3  2010                503812       49
4  2011                309937       11

In [4]:
year = 2015
pop_control = pop_control[pop_control.year == year]
pop_control

    year  number_of_population  CO_FIPS
20  2015                332607       11
21  2015               1075422       35
22  2015                232865       57
23  2015                569283       49

In [5]:
summary_geog['pop_adjust'] = 0

In [6]:
# set population adjust value to 1 where... households > 0 and (population/household > 1.5))
summary_geog.pop_adjust[(summary_geog.households > 0) & (summary_geog.population/summary_geog.households > 1.5)]= 1
summary_geog['pop_adjust']

C:\Users\jreynolds\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0       1
1       1
2       1
3       0
4       1
       ..
2720    0
2721    0
2722    0
2723    0
2724    0
Name: pop_adjust, Length: 2725, dtype: int64

In [7]:
summary_geog2['pop_adjust'] = 0
# set population adjust value to 1 where... households > 0 and (population/household > 1.5))
summary_geog2.pop_adjust[(summary_geog2.households > 0) & (summary_geog2.population/summary_geog2.households > 1.5)]= 1
summary_geog2['pop_adjust']

C:\Users\jreynolds\AppData\Local\ESRI\conda\envs\arcgispro-py3-clone2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0       1
1       1
2       1
3       0
4       1
       ..
2720    0
2721    0
2722    0
2723    0
2724    0
Name: pop_adjust, Length: 2725, dtype: int64

In [8]:
# get rows where pop adjust value is 1
zadjust = summary_geog[summary_geog.pop_adjust == 1]
zadjust2 = summary_geog2[summary_geog2.pop_adjust == 1]
zadjust

,zone_id,zone_id.1,households,residential_units,population,res_price1,res_price2,avg_hh_income,hh_inc1,hh_inc2,...,jobs8,jobs9,jobs10,job_spaces,non_residential_sqft,nonres_price3,nonres_price4,nonres_price5,COUNTY,pop_adjust
0,2859,2859,23.0,24.0,71.0,27.130846,54.794223,60068.00000,4.0,6.0,...,0.0,0.0,0.0,2.0,400.0,0.000000,0.000000,0.000000,49,1
1,141,141,133.0,151.0,369.0,65.659543,74.407929,59775.57895,38.0,24.0,...,0.0,0.0,0.0,988.0,904216.0,5.194477,112.795817,121.424179,11,1
2,2865,2865,29.0,30.0,102.0,32.020883,60.141137,57396.00000,2.0,10.0,...,0.0,0.0,0.0,46.0,44850.0,6.040000,0.000000,0.000000,49,1
4,2860,2860,1.0,1.0,2.0,38.966667,0.000000,51914.00000,0.0,1.0,...,0.0,0.0,0.0,2.0,1950.0,5.904948,0.000000,0.000000,49,1
5,1714,1714,370.0,398.0,863.0,46.549533,81.363827,51464.00000,72.0,124.0,...,0.0,42.0,29.0,648.0,321447.0,5.904647,154.486872,201.226466,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2691,569,569,3.0,3.0,13.0,59.062678,52.105462,85051.00000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,35,1
2694,1534,1534,116.0,125.0,352.0,50.634749,63.389586,77428.00000,17.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,57,1
2702,683,683,1.0,1.0,4.0,71.236418,0.000000,33251.00000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,57,1
2707,1094,1094,615.0,621.0,1537.0,0.000000,113.974814,22016.00000,447.0,19.0,...,0.0,0.0,0.0,175.0,110775.0,0.000000,0.000000,159.732368,57,1
2711,2384,2384,24.0,24.0,118.0,55.259962,0.000000,19660.00000,24.0,0.0,...,0.0,0.0,0.0,15940.0,5579000.0,0.000000,0.000000,0.000000,49,1

In [9]:
# get rows where pop adjust value is 0
znoadjust = summary_geog[summary_geog.pop_adjust == 0]
znoadjust2 = summary_geog2[summary_geog2.pop_adjust == 0]

znoadjust

,zone_id,zone_id.1,households,residential_units,population,res_price1,res_price2,avg_hh_income,hh_inc1,hh_inc2,...,jobs8,jobs9,jobs10,job_spaces,non_residential_sqft,nonres_price3,nonres_price4,nonres_price5,COUNTY,pop_adjust
3,1914,1914,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,49,0
6,2870,2870,0.0,11.0,0.0,12.641575,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,49,0
41,2861,2861,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,49,0
78,2871,2871,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,49,0
116,1351,1351,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,794,794,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,57,0
2721,1015,1015,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,2.0,3.0,666.0,233100.0,0.0,0.0,0.000000,57,0
2722,1105,1105,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,96.0,60768.0,0.0,0.0,175.272721,57,0
2723,729,729,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,5697.0,0.0,0.0,125.265490,57,0
2724,962,962,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,57,0

In [10]:
# summarize zones to be adjusted by county id (fips) 
cadjust = zadjust.groupby("COUNTY").population.sum()
cadjust

COUNTY
11     230197.0
35     346156.0
49     601328.0
57    1087331.0
Name: population, dtype: float64

In [11]:
# summarize zones to be adjusted by county id (fips) 
cadjust2 = zadjust2.groupby("COUNTY").population.sum()
cadjust2

COUNTY
1     230197.0
2     346068.0
3    1087332.0
4     601325.0
Name: population, dtype: float64

In [12]:
cnoadjust = znoadjust.groupby("COUNTY").population.sum()
cnoadjust

COUNTY
3        0.0
11     449.0
35       0.0
49      16.0
57    1671.0
Name: population, dtype: float64

In [13]:
cnoadjust2 = znoadjust2.groupby("COUNTY").population.sum()
cnoadjust2

COUNTY
1     449.0
2       0.0
3    1670.0
4      19.0
5       0.0
Name: population, dtype: float64

In [18]:
cadjust2[1]

#adjust1 = (pop_control[pop_control.cid == 57].number_of_population.iloc[0] - cnoadjust[1])/cadjust[1]

230197.0

In [ ]:
hbj = pd.read_csv("./REMM_Tables/hbj.csv")
hbj2 = pd.read_csv("./REMM_Tables/hbj_og.csv")
hbj.head()

In [ ]:
c_hbj_adjust = pd.read_csv("./REMM_Tables/c_hbj_adjust.csv")
c_hbj_adjust2 = pd.read_csv("./REMM_Tables/c_hbj_adjust_og.csv") 
c_hbj_adjust

In [ ]:
employment_control = pd.read_csv("Results/employment_controls.csv")
hbj = employment_control[(employment_control.year == year)&(employment_control.sector_id == 12)]
hbj

In [ ]:
hbj[hbj.cid == 57]